{% extends 'blog/base.html' %}
{% block content %}
    <div class="post-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            <div class="article-title">
                {{ form.title }}
            </div>
            <div class="article-tags">
                {{ form.tags }}
            </div>
            {{ form.body }}
            <div class="btn-contaier">
                <button type="submit" class="save-btn">保存する</button>
            </div>

        </form>
    </div>
{% endblock %}